(
"koKai-thai",
"khoKhai-thai",
"khoKhuat-thai",
"khoKhwai-thai",
"khoKhon-thai",
"khoRakhang-thai",
"ngoNgu-thai",
"choChan-thai",
"choChing-thai",
"choChang-thai",
"soSo-thai",
"choChoe-thai",
"yoYing-thai",
"yoYing-thai.less",
"doChada-thai",
"toPatak-thai",
"thoThan-thai",
"thoNangmontho-thai",
"thoPhuthao-thai",
"noNen-thai",
"doDek-thai",
"toTao-thai",
"thoThung-thai",
"thoThahan-thai",
"thoThong-thai",
"noNu-thai",
"boBaimai-thai",
"poPla-thai",
"phoPhung-thai",
"foFa-thai",
"phoPhan-thai",
"foFan-thai",
"phoSamphao-thai",
"moMa-thai",
"yoYak-thai",
"roRua-thai",
"ru-thai",
"loLing-thai",
"woWaen-thai",
"soSala-thai",
"soRusi-thai",
"soSua-thai",
"hoHip-thai",
"loChula-thai",
"oAng-thai",
"hoNokhuk-thai",
"saraA-thai",
"saraAa-thai",
"saraAm-thai",
"saraE-thai",
"saraAe-thai",
"saraO-thai",
"saraAiMaimuan-thai",
"saraAiMaimalai-thai",
"lakkhangyao-thai",
"zero-thai",
"one-thai",
"two-thai",
"three-thai",
"four-thai",
"five-thai",
"six-thai",
"seven-thai",
"eight-thai",
"nine-thai",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
"maiyamok-thai",
"paiyannoi-thai",
period,
baht,
"maiHanaKat-thai",
"maiEk-thai",
"maiTho-thai",
"maiTri-thai",
"maiChattawa-thai",
"thanthakhat-thai",
"maitaikhu-thai",
"saraI-thai",
"saraIi-thai",
"saraUe-thai",
"saraUee-thai",
"nikhahit-thai",
"saraU-thai",
"saraUu-thai",
_segment.top_invert,
_segment.curve.bottom,
_segment.curve.inner,
_segment.curve.top,
_segment.curve.inner.shallow,
"_cho-yo-no"
)